@charset "utf-8";
/* CSS Document */

body {
	background:url(../images/background2.jpg) top left no-repeat;
	background-size:cover;
	font-family: 'Paprika', cursive;
}

p {
	color:white;
}

/* ---------------- Navbar -------------------------------------*/
.myNavbar {
	background-color:transparent;
	border:none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color:#09F;
}

/* -----------------------------------------------------------------*/

.col-md-6 p {
	margin-top:30px;
}

.center {
	margin-bottom:5px;
	margin-left:20px;
}

.textBlack {
	background-color:rgba(204,204,204,.13);
}

.textBlack p {
	color: white;
	text-shadow: 2px 2px 8px #000;
	text-align:justify;
}

.clientPics {
	margin-top:10px;
}

.col-md-3 p {
	margin-top:10px;
}

footer {
	text-align:center;
	margin-top:30px;
	background-color:rgba(51,51,51,1);
	border-radius:15px;
}


